@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; /* Базовый размер */
  line-height: 1.6;
}

.text-sm {
  font-size: 0.9375rem;
}

.text-base {
  font-size: 1.0625rem;
}

.message-text {
  font-size: 1.125rem;
  line-height: 1.7;
}

.container{
    width: 1440px;
    margin: 0 auto;
    padding: 15px;
}